.App {
  text-align: center;
}

.App-logo {
  height: 50px; /* Adjust the height to make the logo smaller */
  margin-right: 10px;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  color: black;
  background-color: transparent; /* Remove the background color */
  padding: 10px;
}

.App-header-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header h1 {
  font-size: 1.5rem;
  margin: 10px 0;
  text-align: center;
}

@media (max-width: 768px) {
  .App-logo {
    height: 40px;
  }

  .App-header h1 {
    font-size: 1.2rem;
  }
}

.footer-text {
  font-size: 0.8em; /* Adjust the size as needed */
  color: #666; /* Optional: Change the color to a lighter shade */
  margin-top: 0px;
}
