/* src/components/Footer.css */
.footer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.footer-icon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  color: #000;
  opacity: 0.8;
}