/* src/components/LeaderboardTable.css */
.leaderboard-table-container {
    padding: 0 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.leaderboard-table {
    width: 100%;
    max-width: 1000px; /* Add this line */
    margin: 20px auto; /* Update this line */
    font-size: 1em;
    text-align: left;
  }
  
  .leaderboard-table th,
  .leaderboard-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .leaderboard-table th {
    background-color: #f2f2f2;
    cursor: pointer;
    text-align: center; /* Add this line */
  }
  
  .leaderboard-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .leaderboard-table tr:hover {
    background-color: #f1f1f1;
  }

.leaderboard-table td.right-align {
  text-align: right !important;
}

.leaderboard-table td.right-align span {
  display: inline-block;
  width: 100%;
  text-align: right;
}
